{% extends "project/base.html" %}
{% load staticfiles %}
{% load versioning %}

{% block content %}
<div class="ui vertical stripe">
    <div class="ui middle center aligned stackable grid container">
        <div class="row">
            <div class="ui huge header">Erro 500 :(
                <div class="sub header">Algo de errado não está certo!</div>
            </div>
        </div>
        <div class="ui row left aligned">
            <div class="column twelve wide center aligned">
                <p>Nossa equipe de macacos altamente treinados já está tentando resolver o problema</p>
            </div>
        </div>
    </div>
</div>
{% endblock %}
