# Base
dj-database-url
Django
gunicorn
psycopg2-binary
whitenoise
django-extensions
Werkzeug
django-debug-toolbar
django-maintenance-mode
django-phonenumber-field
pillow
django-versatileimagefield

# Analytics
django-analytical
django-watchman

# Profiling and Monitoring
django-silk
scout-apm

# Optimization
nplusone

# Async
celery
redis
django-celery-email
requests-futures

# REST
djangorestframework
rest-condition
https://github.com/philipn/django-rest-framework-filters/archive/master.zip
django-filter>=2
drf-nested-routers

# Documentation
drf-yasg
drf-yasg[validation]

# Social and auth
django-allauth

# oauth2
https://github.com/Maronato/django-oauth-toolkit/archive/pkce-support.zip
# django-oauth-toolkit
cryptography

# Captcha
django-recaptcha

# Error logging
sentry-sdk

# Other
unidecode

# Media files
boto3
django-storages
