# Base
dj-database-url==0.5.0
Django==2.1.7
gunicorn==19.9.0
psycopg2-binary==2.7.7
whitenoise==4.1.2
django-extensions==2.1.6
Werkzeug==0.14.1
django-debug-toolbar==1.11
django-maintenance-mode==0.13.0
django-phonenumber-field==2.2.0
pillow==5.4.1
django-versatileimagefield==1.10
django-cors-headers==2.5.0
django-celery-beat==1.4.0
facebook-sdk==3.1.0
django-admin-object-actions==0.1.5

# Analytics
django-analytical==2.5.0
django-watchman==0.15.0

# Profiling and Monitoring
scout-apm==2.0.2

# Async
celery==4.2.1
redis==3.2.0
django-celery-email==2.0.1
requests-futures==0.9.9

# REST
djangorestframework==3.9.2
rest-condition==1.0.3
https://github.com/philipn/django-rest-framework-filters/archive/master.zip
django-filter==2.1
drf-nested-routers==0.91

# Documentation
drf-yasg==1.14.0

# Social and auth
django-allauth==0.39.1

# oauth2
https://github.com/Maronato/django-oauth-toolkit/archive/pkce-support.zip
# django-oauth-toolkit
cryptography==2.6.1

# Captcha
django-recaptcha==2.0.2

# Error logging
sentry-sdk==0.7.6

# Other
unidecode==1.0.23

# Media files
boto3==1.9.108
django-storages==1.7.1
