{% load fb_handle %}

{% with title="Alteração de senha" %}
{% with subtitle="" %}
{% with description="Você está recebendo essa mensagem pois você, ou outra pessoa, pediu a alteração da senha da sua conta.<br>Caso você não tenha pedido essa alteração, ignore esse email.<br><br>Para alterar sua senha, use o botão abaixo:" %}
{% with actionUrl=password_reset_url %}
{% with actionName="Alterar senha" %}
{% with project_url=current_site.domain %}
{% with project_name=current_site.name %}
{% facebook_handle as facebookHandle %}

{% include "project/email/action/html.html" %}

{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
{% endwith %}
