{% extends "project/base.html" %}
{% load staticfiles %}

{% block content %}

<div class="ui vertical stripe">
    <div class="ui middle aligned stackable grid container">
        <div class="row">
            <div class="center aligned sixteen wide column">
                <h1 class="ui header">Página de detalhes do app!
                    <div class="sub header">Ainda falta fazer</div>
                </h1>
                <p>
                    Mas vai ter vários detalhes do app que ainda não sei quais vão ser
                </p>
                <p>
                    Talvez o email do dev para contato
                </p>
            </div>
        </div>
    </div>
</div>

{% endblock %}
