{% extends "project/base.html" %}
{% load staticfiles %}
{% load versioning %}

{% block extend_scripts %}
{% endblock %}

{% block extend_style %}
<link rel="stylesheet" type="text/css" href="{% static 'project/css/home.css' %}">
<style type="text/css">
.masthead.segment.zoomed h1 {
  text-shadow: 0px 0px 4px rgba(0, 0, 0, 0);
  color: rgba(255, 255, 255, 1);
}
.masthead.zoomed:after {
  opacity: 0;
}
.masthead.zoomed {
  background-color: #25282A;
}
</style>
{% endblock %}

{% block inverted %}
inverted
{% endblock %}

{% block masthead %}
<div class="masthead segment bg1 zoomed">
    <div class="ui container">
        <div class="introduction">
            <h1 class="ui inverted header">
                <span class="library">
                    <img style="max-height: 1em" src="{% static 'project/img/logo_white.svg' %}">aronas
                </span>
                <span id="masthead_subtitle" class="tagline">
                </span>

            </h1>
            <div class="ui hidden divider"></div>
            {% if user.is_authenticated %}
            <a href="{% url 'apps_list' %}" class="ui huge inverted download button">
                Aplicativos
            </a>
            <a href="{% url 'docs:schema-redoc'|versioned_url %}" class="ui huge inverted basic button">Quero ser dev!</a>
            {% else %}
            <a href="{% url 'account_signup' %}" class="ui huge inverted download button">
                Me inscreva!
            </a>
            <a href="{% url 'apps_list' %}" class="ui huge inverted basic button">
                Aplicativos
            </a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}

{% block content %}

<div id="intro" class="ui vertical stripe">
    <div class="ui middle center aligned stackable grid container">
        <div class="column eight wide">
            <h2 class="ui icon header">
                <i style="color: #22b8cf" class="fas fa-search fa-3x">
                </i>
                <div class="content">
                    <b>Para passageiros</b>
                    <div class="sub header">
                    </div>
                </div>
            </h2>
        </div>
        <div class="column eight wide">
            <h2>Todas as caronas em um lugar</h2>
            <p>
                Existem milhares de caronas por aí, mas encontrar a certa pra você pode ser bem difícil
            </p>
            <p>
                O Unicaronas junta caronas <b>próprias</b>, de grupos de <b>Facebook</b> e até do <b>BlaBlaCar</b> para formar o maior acervo de caronas para universitários existente
            </p>
        </div>
    </div>
</div>

<div class="ui vertical stripe">
    <div class="ui middle center aligned stackable grid container">
        <div class="column eight wide">
            <h2>Controle e segurança</h2>
            <p>
                Não se preocupe com sua carona não ser vista ou com estranhos viajando com você
            </p>
            <p>
                Crie caronas pelo Unicaronas para garantir uma <b>viagem cheia</b>, ter <b>controle total</b> sobre suas viagens e ter <b>segurança</b> no trajeto
            </p>
        </div>
        <div class="column eight wide">
            <h2 class="ui icon header">
                <i style="color: teal" class="fas fa-car fa-3x">
                </i>
                <div class="content">
                    <b>Para motoristas</b>
                    <div class="sub header">
                    </div>
                </div>
            </h2>
        </div>
    </div>
</div>

<div class="ui vertical stripe">
    <div class="ui middle center aligned divided stackable grid container">
        <div class="column eight wide">
            <h2 class="ui icon header">
                <i style="color: green" class="fas fa-dollar-sign fa-3x">
                </i>
            </h2>
            <h2>Grátis para sempre</h2>
            <p>O Unicaronas <b>não cobra nada</b> para motoristas ou passageiros e <i>nunca</i> vamos cobrar<br><b>Sério.</b></p>
        </div>
        <div class="column eight wide">
            <h2 class="ui icon header">
                <i style="color: #5c7cfa" class="fas fa-laptop fa-3x">
                </i>
            </h2>
            <h2>Desenvolvedores = ❤️</h2>
            <p>Nossa <i>comunidade</i> é formada por pessoas <b>como você</b> e nossos <i>aplicativos</i> também</p>
            <p>Qualquer membro pode criar aplicativos que têm <b>acesso total</b> à nossa API e dados com alguns cliques!</p>
        </div>
    </div>
</div>

<div class="ui vertical stripe">
    <div class="ui middle center aligned stackable grid container">
        <div class="row">
            <div class="column sixteen wide">
                <h2 class="ui icon header">
                    <i style="color: red" class="heart icon">
                    </i>
                </h2>
            </div>
        </div>
        <div class="row">
            <div class="column eight wide">
                <h2>A maior comunidade de caronas universitárias</h2>
                <p>Unicaronas é muito mais que um serviço de caronas</p>
                <p>
                    Com você, ajudamos milhares de universitários a visitarem seus familiares todo final de semana!
                </p>
                {% if not user.is_authenticated %}<p>Se você ainda não faz parte dessa comunidade, <a href="{% url 'account_signup' %}">entre agora</a>{% endif %}
                </div>
            </div>
        </div>
    </div>

    <div class="ui inverted vertical footer segment">
        <div class="ui container">
            <div class="ui stackable center aligned inverted divided equal height stackable grid">
                <div class="row">
                    <div class="eight wide column">
                        <div class="right aligned">
                            <h4 class="ui inverted header">Sobre</h4>
                            <div class="ui inverted link horizontal list">
                                <a href="{% url 'index' %}/#info" class="right item">O que é</a>
                                <a href="{% url 'apps_list' %}" class="item">Aplicativos</a>
                                <a href="{% url 'docs:schema-redoc'|versioned_url %}" class="item">Documentação</a>
                                <a href="https://medium.com/unicaronas" class="item">Blog</a>
                                <br>
                                <a class="item" href="{% url 'privacy_policy' %}">Privacidade</a>
                                <a class="item" href="{% url 'terms_and_conditions' %}">Termos e condições</a>
                                <a href="{% url 'watchman-dashboard' %}" class="item">Status do serviço</a>
                                <a class="item" href="https://github.com/Unicaronas/Unicaronas">Código fonte <i class="icon github"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="eight wide column">
                        <h4 class="ui left aligned inverted header">Unicaronas</h4>
                        <p style="text-align: left">Caronas de universitários para universitários</p>
                    </div>
                </div>
                <div class="row">
                    <div style="color: grey;">
                        Made with  <i class="icon heart red"></i> by <a href="https://github.com/Maronato">Maronato</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript" src="{% static 'project/js/cycle_masthead_bg.js' %}"></script>
    {% endblock %}
