{% extends "project/base.html" %}

{% load account socialaccount %}

{% block content %}

<div id="intro" class="ui vertical stripe">
    <div class="ui middle center aligned middle aligned stackable grid container">
        <div class="row">
            <div class="ui huge header">Entre na sua conta
                <div class="sub header">Não tem conta? <a onclick="add_search_query(event, this)" href="{% url 'account_signup' %}">Cadastre-se</a></div>
            </div>
        </div>
        <div class="ui hidden divider"></div>
        <div class="row">
            {% get_providers as socialaccount_providers %}
            <div class="column eight wide">
                <div class="ui center aligned grid">
                    <div class="row">
                        <div class="column twelve wide">
                            {% if socialaccount_providers %}
                            <div class="socialaccount_ballot">
                                <div class="socialaccount_providers">
                                    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
                                </div>
                            </div>

                            {% include "socialaccount/snippets/login_extra.html" %}
                            {% else %}
                            <p>Se você ainda não criou sua conta,
                                <a href="{{ signup_url }}" onclick="add_search_query(event, this)">crie-a</a> primeiro.
                            </p>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="column eight wide left aligned">

                <form class="login ui form" method="POST">
                    {% csrf_token %}
                    {{ form.non_field_errors }}

                    {% for hidden_field in form.hidden_fields %}
                    {{ hidden_field.errors }}
                    {{ hidden_field }}
                    {% endfor %}

                    {% for field in form.visible_fields %}
                    <p>
                        {{ field.label_tag }}<br>
                        {{ field.errors }}
                        {{ field }}
                        {{ field.help_text }}
                    </p>
                    {% endfor %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                    {% endif %}
                    <div class="ui center aligned grid">
                        <div class="column">
                            <button class="primaryAction ui button primary large fluid" type="submit">Entrar</button>
                        </div>
                    </div>
                    <br>
                    <a class="button secondaryAction" href="{% url 'account_reset_password' %}">Esqueceu sua senha?</a>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
function add_search_query(event, element) {
    event.preventDefault();
    window.location = element.href + window.location.search;
}
function add_search_query_form(form) {
    form.attr('action', form.attr('action') + window.location.search);
}

        // $("form").each(function(i, form) {
        //     add_search_query_form($(form));
        // })


    // Deals with a bug in which firefox injects the url query two times
    // Force clean url search
    window.history.replaceState('', '', window.location.search.slice(window.location.search.slice(1).indexOf('?') + 1))

    function getUrlParameter(sParam) {
        var sPageURL = window.location.search.substring(1),
        sURLVariables = sPageURL.split('&'),
        sParameterName,
        i;

        for (i = 0; i < sURLVariables.length; i++) {
            sParameterName = sURLVariables[i].split('=');

            if (sParameterName[0] === sParam) {
                return sParameterName[1] === undefined ? true : decodeURIComponent(sParameterName[1]);
            }
        }
    };

    // Searches for the 'next' field and updates it
    var next = $("[name='next']")[0]
    if (next) {
        next.value = getUrlParameter('next')
    }

    $("#id_university").dropdown()

    </script>
    {% endblock %}
