{% extends "project/base.html" %}

{% load account socialaccount %}

{% block content %}

<div class="ui vertical stripe">
    <div class="ui middle center aligned middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui huge header">Definir senha
                    <div class="sub header">Defina uma senha para sua conta</div>
                </div>
                <div class="ui divider hidden"></div>
                <div class="ui middle center aligned stackable grid container">
                    <div class="row">
                        <div class="column eight wide left aligned">
                            <form method="POST" action="{% url 'account_set_password' %}" class="password_set ui form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" name="action" class="ui button green">Definir senha</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
