{% extends "project/base.html" %}

{% load account socialaccount %}

{% block content %}

<div class="ui vertical stripe">
    <div class="ui middle center aligned middle aligned stackable grid container">
        <div class="row">
            <div class="column">
                <div class="ui huge header">Alterar senha</div>
                <div class="ui divider hidden"></div>
                {% if token_fail %}
                <h1>Chave de alteração incorreta!</h1>
                <p>O link de alteração de senha foi inválido, provavelmente por já ter sido usado. Peça um novo link para <a href="{{ passwd_reset_url }}">alteração de senha</a></p>
                {% else %}
                {% if form %}
                <div class="ui middle center aligned stackable grid container">
                    <div class="row">
                        <div class="column eight wide left aligned">
                            <form method="POST" action="{{ action_url }}" class="ui form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <button type="submit" name="action" class="ui button green">Mudar senha</button>
                            </form>
                        </div>
                    </div>
                </div>
                {% else %}
                <p>Sua senha foi alterada!</p>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
